* {
    box-sizing: border-box;
}
body{
    background-image: url('calc.jpg');
    margin: 0;
    padding: 0;
}
@keyframes head {
    0%   {background-color: #00FF7F;}
    25%  {background-color: #00FFFF;}
    50%  {background-color: #00FF7F;}
    100% {background-color: #00FFFF;}
  }
header{
    font-family: Dancing Script;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    padding: 50px;
    background-color: #00FFFF;
    animation-name: head;
    animation-duration:4s;
    animation-iteration-count: infinite;
    opacity: 0.8;
}
.main{
    display: flex;
    padding: 70px;
    justify-content: center; 
    align-items: center;
}
.calculator{
    display: flex;
    border: 2px solid black;
    width: 20%;
    flex-direction: column;
    align-items: stretch;
}
.answer{
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    font-size: 50px;
    justify-content: right;
    padding: 12px;
}
.row-one{
    display: flex;
    font-size: 50px;
    align-items: center;
    align-items: stretch;
}
.one{
    display: flex;
    width: 25%;
    border-right: 2px solid black;
    justify-content: center;
    border-bottom: 2px solid black;
    padding: 12px;
}
.two{
    display: flex;
    width: 50%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: center;
    padding: 12px;
}
button{
    border: none;
    font-size: 50px;
    background-color: #DCDCDC;
    cursor: pointer;
}
button:hover{
    background-color: #eee;
}
button:active{
    background-color: darkgray;
}
.three{
    isplay: flex;
    width: 75%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    justify-content: center;
}
.orange{
    background-color: #FFA500;
}
.orange:hover{
    background-color: #F7B53D;
}
.orange:active{
    background-color: darkorange;
}