* {
    box-sizing: border-box;
}

body {
    background-color: cyan;
}

.butt {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(4, 202, 202);
    font-size: 50px;
    font-family: cursive;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a8ffff;
}

button:active {
    background-color: rgb(2, 175, 175);
}

.image {
    height: 300px;
    width: 300px;
    margin: 2px;
    font-family: cursive;
    font-size: 40px;
}