* {
    box-sizing: border-box;
}
body{
    background-color: linen;
}
button{
    background-color: lightskyblue;
    font-size: 50px;
    font-family: cursive;
    border: none;
}
button:hover{
    background-color: lightsteelblue;
}